#exampleFormControlInput1::placeholder{
    color: white;
}

#exampleFormControlInput2::placeholder{
    color: white;
}

#exampleFormControlInput3::placeholder{
    color: white;
}

#exampleFormControlInput4::placeholder{
    color: white;
}

#search-bar::placeholder{
    color: white;
}