body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.background-image{
    width: 100%;
    height: 100%;
    position: fixed;
}

.weightHandle {
    margin: 0%;
    width: 100%;
}

#inputWeight {
    position: relative;
    margin-left: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 19.5vw;
    height: 3%; 
    text-align: center;
    border-radius: 15px;
    background-color: #0b123e;
    border: 1px solid white;
    color: white;
}

.weight {
    position: absolute;
    margin: 2%;
    margin-left: 72%;
    color: #ffbb63;
}

#output {
    position: absolute;
    margin: 3%;
    margin-left: 3%;
    color: #f9c8cf;
    font-size: 25px;
}

.sun {
    position: fixed;
    width: 45%;
    margin: -4% -17%;
    left: 0%;
}

.mercury {
    position: fixed;
    top: 7%;
    left: 16.5%;
    width: 12%;
}

.venus {
    position: fixed;
    top: 40%;
    left: 9%;
    width: 10%;
}

.earth {
    position: fixed;
    top: 31%;
    left: 26%;
    width: 12%;
}

.moon {
    position: fixed;
    top: 12%;
    left: 40%;
    width: 8%;
}

.mars {
    position: fixed;
    top: 65%;
    left: 18%;
    width: 20%;
}

.jupiter {
    position: fixed;
    top: 59%;
    left: 39%;
    width: 17%;
}

.saturn {
    position: fixed;
    top: 25%;
    left: 52%;
    width: 25%;
}

.uranus {
    position: fixed;
    top: 74%;
    left: 59.5%;
    width: 17%;
}

.neptune {
    position: fixed;
    top: 49.5%;
    left: 72.5%;
    width: 15%;
}

.pluto {
    position: fixed;
    top: 81%;
    left: 82%;
    width: 10%;
}
